body {
  background-image: url('3230357.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: cornsilk;
  font-family: sans-serif;
}

.initialState {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  padding-top: 30px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.addMovie {
  padding: 1rem;
}

.app {
  text-align: center;
}

.movie {
  display: flex;
  flex-flow: column wrap;
  height: auto;
  border-style: double;
  border-radius: 10px;
  background-color: rgba(50, 77, 104, 0.363);
  padding: 10px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(20, 56, 93);
  color: cornsilk;
  margin: 0px;
}
